{% extends 'base.html' %}
{% block content %}
<h1 class="title">{{ title2 }}</h1>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Descripcion</th>
        <th>Fecha Creacion</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
      {% for item in brands %}
        <tr>
        <td>{{item.description}}</td>
        <td>{{item.created}}</td>
        <td>{% if item.state %}
             ✔
            {% else %}
             ➖
            {% endif %}
        </td>
        <td>
          <a href={% url 'core:brand_update' item.id %}>✏️</a>
          <a href={% url 'core:brand_delete' item.id %}>❌</a> 
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="form-group">
    <a class="btn blue" href={% url 'core:brand_create' %}>Nueva Marca</a>
  </div>
{% endblock content  %}